In [1]:
#Yearly Period
import pandas as pd
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [2]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [3]:
y.is_leap_year

True

In [4]:
m=pd.Period('2017-12')
m

Period('2017-12', 'M')

In [5]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [6]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [7]:
m+1

Period('2018-01', 'M')

In [8]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [9]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [12]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

TypeError: __new__() got an unexpected keyword argument periods

In [13]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

NameError: name 'idx' is not defined

In [14]:
#Processing Wal Mart's Financials
import pandas as pd
df= pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [16]:
df.set_index("Line Item", inplace=True)
df =df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [17]:
df.index=pd.PeriodIndex(df.index,freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [18]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [19]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [20]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [22]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999